.table {
  text-align: left;
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
  color: #6a5d5d;
  background-color: white;
  overflow-x: hidden;
  margin-bottom: 20px;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
}

.selected__row {
  border: 5px solid greenyellow;
}

.continent_box {
  padding-top: 12px;
}

.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}